.theme-manage-preference {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include media-breakpoint-up(md) {
    min-height: 44.5rem;
  }

  .theme-widget-description-manage-preference {
    margin-bottom: $spacing-xl;

    h1 {
      color: $aa-black-blue ;
      font-size: $font-size-lg;
      letter-spacing: -0.02em;
      line-height: $theme-line-height-md;
      margin-bottom: $spacing-m;

      @include media-breakpoint-up(md) {
        font-size: $font-size-xl;
      }
    }

    p {
      color: $aa-black-blue;
      font-size: $font-size-md;
      line-height: $theme-line-height-md;
      max-width: 20.0625rem;

      @include media-breakpoint-up(md) {
        max-width: 26rem;
      }
    }
  }

  .theme-widget-cta-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    margin-bottom: $spacing-l;
  }

  footer {
    justify-content: center;
    margin-top: $spacing-m;

    @include media-breakpoint-down(md) {
      margin-bottom: $spacing-xl;
    }

    @include media-breakpoint-up(md) {
      justify-content: space-between;
    }

    .nav {
      display: none;

      @include media-breakpoint-up(md) {
        display: flex;
      }
    }

    .nav-item:last-child a {
      padding-right: 0;
    }
  }
}
