.theme-manage-password {
  display: flex;
  flex-direction: column;

  &-description {
    margin-bottom: $spacing-l;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacing-xl;
    }

    h1 {
      font-size: $font-size-xl;
      margin-bottom: $spacing-m;
    }

    p {
      font-size: $font-size-md;
    }
  }

  // TODO: To be removed once ProfileMenuItem component PR(PR 214) gets merged
  nav {
    ul {
      padding: 0;
    }
  }

  .theme-manage-password {
    a {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
    }

    p {
      font-size: $font-size-md;
      font-weight: $theme-font-weight-bold;
    }
  }
}
