.theme-multi-offer-header {
  @include media-breakpoint-down(md) {
    // This is to overwrite the border radius coming from base card component for mobile resolution
    .card {
      border-radius: 0;
    }
  }
}

.theme-global-application-header {
  .theme-navbar-brand {
    display: none;
    margin-right: 0;

    @include media-breakpoint-up(md) {
      display: inline;
    }
  }
}
